.card {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 12px;
  }
  
  .title {
    font-size: 23px;
    color: #000;
    margin-bottom: 4px;
  }
  
  .subtitle {
    font-size: 0.9rem;
    color: #666;
  }
  