.card {
    height:100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 1rem;
  }
  
  .cardTitle {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    flex-shrink: 0; /* Không cho phép tiêu đề co lại */
  }
  
  .titleIcon {
    margin-right: 8px;
    color: #ff4d4f;
    font-size: 18px;
    margin-bottom: 16px;
    align-items: center;
  }
  
  .loadingContainer {
    padding: 24px;
    text-align: center;
  }
  
  .tableContainer {
    overflow-y: auto;
    max-height: 300px;
  }
  
  /* Add these new styles for text sizes */
  .card :global(.ant-table) {
    font-size: 14px;
  }
  
  .card :global(.ant-table-thead > tr > th) {
    font-size: 14px;
    font-weight: 600;
  }
  
  .card :global(.ant-table-tbody > tr > td) {
    font-size: 13px;
  }
  
  .card :global(.ant-typography) {
    font-size: 15px;
  }